#jumbo1{
    text-align: center;
    font-family: monospace;
    background-image: linear-gradient(white, green);
}
#me{
    width: 500px;
}
#image1{
    width: 300px;
    length: 300px;
}
#image2{
    width: 300px;
    length: 300px;
}
#image3{
    width: 300px;
    length: 300px;
}
#mylife{
    font-size: 14px
}